


/*.header {
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	font-size: 24px;
}

.header-container {
	display: flex;
	min-height: 114px;
	align-items: center;	
}

.menu-list {
	display: flex;

}

.menu {
	margin: 20px 0px ;
}

.menu-list:not(:last-child) {
	margin: 0px 81px 0px 0px;
}*/



.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header-container {
	display: flex;
	min-height: 114px;
	align-items: center;

}
.header-logo {
	font-weight: 700;
	font-size: 32px;
	color: inherit;
}

.header-menu {
	margin: 0px 0px 0px 405px;
}

@media (max-width: 992px) {
	.header-menu {
		margin: 0px 0px 0px 300px;
	}
}


@media (max-width: 767px) {
	.header-menu {
		margin: 0px 0px 0px 200px;
	}
}

@media (max-width: 479px) {
	.header-menu {
		margin: 0px 0px 0px 100px;
	}
	.menu-link {
		font-size: 18px;
	}
	.header-container {
		min-height: 90px;
	}
}

.menu {
	padding: 5px 0px;
}

.menu-list {
	flex-wrap: wrap;
	display: flex;
}

.menu-item {
	
}

.menu-item:not(:last-child) {
	margin: 0px 40px 0px 0px;
}

.menu-link {
	color: inherit;
	outline-width: 1px;
	outline-color: white;
	line-height: calc(24 / 14 * 100%);
}
