/* Nav */




.nav {
	padding: 0px 0;
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--nav-border);
	color: var(--nav-text);
	letter-spacing: normal;
}


.nav-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.logo {
	display: block;
	margin-right: auto;
	color: var(--nav-text);
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}

.logo strong {
	font-weight: 700;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.nav-list__link {
	color: var(--nav-text);
	transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
	opacity: 0.8;
}

.nav-list__link-active {
	position: relative;
}

.nav-list__link-active::before {
	content: '';

	position: absolute;
	left: 0;
	top: 100%;

	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
}


@media screen and (max-width: 767px) {

	.nav-row {
		column-gap: 25px;
		justify-content:left;
	}
	
	.logo {
		margin: 0px;
	}

	.nav-list li {
		display: none;
	}


	.burger-button {
		
		width: 30px;
		height: 30px;
		margin-left: auto;
		position: relative;
		cursor: pointer;
	}

	.burger-button::before {
		content: '';
		position: absolute;
		top: 0;
		width: 30px;
		background-color: white;
		height: 2px;
	}

	.burger-button span {
		position: absolute;
		top: 13px;
		width: 30px;
		background-color: white;
		height: 3px;
	}

	.burger-button::after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 30px;
		background-color: white;
		height: 2px;
	}

	.burger-button.active::before {
		transform: rotate(45deg);
	} 

	.burger-button.active::after {
		transform: rotate(-45deg);
	} 

}