

.menu {
	display: none;
}

@media screen and (max-width: 690px) {

	.menu {
		display: block;
		position: fixed;
		height: 100vh;
		width: 100%;
		top: 56px;
		left: 0px;
		transform: translateY(-130%);
		transition: all 0.4s;
	}

	.button-menu {
		display: none;
	}

	.menu.active {
		transform: translateX(0);
	}
	
	.menu-content {
		width: 100%;
		height: 100%;
		background-color: black;
		color: white;
	}
	ul li {
		display: block;
		width: 100%;
		text-align: center;
		margin: 5px 0px;

	}

	.button-menu.active {
		display: block;
	}
	
}
